.a{
    height: 50px;
    
}
.a1{
    background-color: #84c639;
    height: 50px;
}
.a2{
    color: white;
    font-weight: bold;
}
.a4{
    background-color: #fa1818;
    height: 50px;
   
}
.a5{
    background-color: #f5f5f5;
}
.a6{
    list-style-type: none;
	
}
#n{
	list-style:none;
}
.a7{
    color: #84c639;
    font-size: 10px;
}
.a9{
    background-image: url(2.jpg);
}
.a10{
    font-size: 30px;
    padding-left: 60px;
    color: white;
}
.a8{
    background-color: #f5f5f5;
    height: 600px;
    margin-top: 80px;
}
.n{
    margin-top: 50px;
}
.n1{
    border: 2px solid rgb(210, 6, 6);
    width: 100px;
}
.m{
    margin-left: 100px;
    height: 400px;
}
.m1{
    margin-left: 60px;
    height: 400px;
}
.n3{
    background-color: #f5f5f5;
    height: 400px;
    width: 1080px;
    margin-left: 140px;
}
.n4{
    margin-top: 50px;
    height: 100px;
    background-color: red;
}
.n5{
    background-color: black;
    height: 500px;
    color: white;
}
.my-sec-inner1{

    /*opacity: 0.5;*/
    color: white;
}
.my-sec1{
   
    background-attachment: fixed;
}
.smi{
    list-style-type: none;
}
.smi li{
    display: inline-block;
    background-color: white;
    color: red;
    padding: 10px 15px;
    margin-right: 10px;
    border-radius: 50%;
}
.smi li a{
    color: red;
}

.b{
    
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.w{
    padding:20px;
}
.t{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-top:25px;
    margin-left:0px;
}